// imports
@import '../utils/clearfix';

// variables
$header-bg-color: #9bd8f1;
$header-font-color: #fff;

#header {
    min-height: 50px;
    z-index: 999;
    color: $header-font-color;
    background-color: $header-bg-color;
    box-shadow: 0 1px 1px rgba(34, 34, 34, 0.35);
}

.l-constrained {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}

.main {
	padding-top: 50px;

	@include clearfix;
}

.l-content,
.l-sidebar {
	float: left;
	display: block;
}

.l-content {
	margin-right: 2.35765%;
	width: 74.41059%;

    background-color: #fff;
    padding: 1em;
}

.l-sidebar {
	width: 23.23176%;
}