$primary-font: 'Roboto', sans-serif;
$primary-font-color: #212121;

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	font-family: $primary-font;
	color: $primary-font-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}