$sidemenu-icons-color: #727272;

/* FONT PATH */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// fixed width icons
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

// 10px margin from icon
.fa-indent {
  margin-right: 10px;
  color: $sidemenu-icons-color;
}

/* ICONS */

.fa-list-ul:before {
  content: "\f0ca";
}

.fa-chain-broken:before {
  content: "\f127";
}

.fa-line-chart:before {
  content: "\f201";
}

.fa-star-half-o:before {
  content: "\f123";
}

.fa-folder:before {
  content: "\f07b";
}

.fa-pencil-square-o:before {
  content: "\f044";
}

.fa-times:before {
  content: "\f00d";
}