// imports
@import '../utils/index';

// variables
$top-link-color: #fff;

.header-nav {
  @include clearfix;
}

.header-nav__user-panel {
  float: right;
}

.header-nav__link {
  color: $top-link-color;
  display: inline-block;
  padding: 1em;
}

.top-list {
  margin-right: 8em;
}

.user-menu__photo {
  border-radius: 50%;
  vertical-align: middle;
  width: 30px;
}

.user-menu__name {
  color: $top-link-color;
  vertical-align: middle;
}

.top-list,
.user-menu,
.top-list__item {
  display: inline-block;
}
