// imports
@import '../utils/clearfix';
@import '../utils/fontUtils';

// variables
$schedule-link-color: #212121;
$table-border-color: #E2E2E2;

//Schedule Header

.schedule-header__day-number {
	display: inline-block;
	margin-right: 5px;
    @include font-size(60px);
    font-weight: bold;
    color: #E64A19;
}

.schedule-header__day-name {
	display: inline-block;
    @include font-size(35px);
    font-weight: 300;
}

//Schedule Table

.schedule-table {
	margin-bottom: 20px;
}

.schedule-table__cell {
    border-bottom: 1px dashed $table-border-color;
    padding: 1em;

    line-height: 24px;
    @include font-size(15px);
}

.schedule-table__row:first-child td {
    border-top: 1px dashed $table-border-color;
}

.schedule-table__link {
    color: $schedule-link-color;

    &:active {
        color: red;
    }
}

//Schedule Admin Actions

.schedule-actions {
    margin-top: 20px;

    @include clearfix;
}

.schedule-actions__select {
    float: left;
    margin-right: 20px;
}

.schedule-actions__btns-item {
    display: inline-block;
    margin-right: 5px;
}