// imports
@import '../utils/index';

// variables
$select-border-color: #e6e6e6;

.selectBox {
  @include font-size(14px);
  border: 1px solid $select-border-color;
  border-radius: 2px;
  cursor: pointer;
  min-width: 5.14em;
  padding: .57em;
}
