// imports
@import '../utils/fontUtils';

// variables
$select-border-color: #e6e6e6;

.selectBox {
    cursor: pointer;
    @include font-size(16px);
    padding: .5em;
    border: 2px solid $select-border-color;
    border-radius: .25em;
}