// imports
@import '../utils/index';

// variables
$sideblock-font-color: #212121;
$sideblock-bg-color: #eee;

.sideblock {
  background-color: $sideblock-bg-color;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 2em;
	//@include card(1)
}

.sideblock__header {
  @include font-size(20px);
  margin-bottom: 15px;
}

.sideblock__categories-item {
  margin-bottom: 10px;

  &:hover {
    text-decoration: underline;
	}
}

.sideblock__link {
  color: $sideblock-font-color;
}
