// imports
@import '../utils/shadows';
@import '../utils/fontUtils';

// variables
$sideblock-font-color: #212121;
$sideblock-border-left-color: #86AD73;
$sideblock-bg-color: #f5f5f5;

.sideblock {
	padding: 2em;
	margin-bottom: 20px;
	border-left: 3px solid $sideblock-border-left-color;

	/*
	@include card(1);
	*/
}

.sideblock__header {
	margin-bottom: 15px;
	@include font-size(20px);
}

.sideblock__categories-item {
	margin-bottom: 10px;

	&:hover {
		text-decoration: underline;
	}
}

.sideblock__link {
	color: $sideblock-font-color;
}