// imports
@import '../utils/index';

// variables
$sideblock-font-color: #212121;
$sideblock-bg-color: #eee;

.sideblock {
	padding: 2em;
	margin-bottom: 20px;
	border-radius: 2px;
	background-color: $sideblock-bg-color;

	/*
	@include card(1);
	*/
}

.sideblock__header {
	margin-bottom: 15px;
	@include font-size(20px);
}

.sideblock__categories-item {
	margin-bottom: 10px;

	&:hover {
		text-decoration: underline;
	}
}

.sideblock__link {
	color: $sideblock-font-color;
}